* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p, a {
  font-family: "Ubuntu", sans-serif;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  color: #c6a07c;
}

h1 {
  font-family: "Yesteryear", serif;
  font-size: 55px;
}

h2 {
  font-family: "Yesteryear", serif;
  font-size: 45px;
}

h3 {
  font-family: "Yesteryear", serif;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: #c6a07c;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
}

.content {
  max-width: 960px;
  margin: auto;
}

.navbar {
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 2px solid #f5f5e9;
  position: fixed;
  z-index: 10;
}

.active {
  background: #161825;
}

.navLogo {
  height: 70px;
}

.linkList {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linkList .link > a {
  text-transform: uppercase;
}
.linkList .link:hover {
  transform: scale(1.2);
}

.hero {
  height: 100vh;
  width: 100%;
  background: url("/img/chilli.jpg");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.moto {
  height: calc(100vh - 86px);
  color: #c6a07c;
  opacity: 0;
  display: flex;
  align-items: center;
  animation: fadein 2s forwards;
  animation-delay: 500;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#about {
  background: #f5f5e9;
  height: 1000px;
}

.aboutDivider {
  display: flex;
  position: relative;
}

.aboutHidden {
  width: 500px;
  margin-left: 40px;
  position: relative;
  margin-top: 150px;
  text-align: justify;
  opacity: 0;
}
.aboutHidden h2 {
  position: absolute;
  top: -70px;
  left: 150px;
}

.aboutText {
  width: 500px;
  margin-left: 40px;
  opacity: 0;
  position: relative;
  margin-top: 150px;
  text-align: justify;
  animation: aboutFade 2s forwards;
}
.aboutText h2 {
  position: absolute;
  top: -70px;
  left: 150px;
}

@keyframes aboutFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.openingPicture {
  position: absolute;
  left: 600px;
  top: -150px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opening {
  width: 350px;
  height: 350px;
  padding: 15px;
  color: #e1e5c6;
  background: #161825;
}

.openingHours, .address {
  text-transform: uppercase;
}

.timesBlock {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.times {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timesUp {
  margin-top: 15px;
}

.linkBox {
  width: 100%;
  text-align: center;
}

.linkBox:hover {
  transform: scale(1.2);
}

.linkMaps {
  text-decoration: underline;
}

.picture1 {
  background-image: linear-gradient(45deg, green, blue);
  height: 250px;
  opacity: 0;
}

.picture2 {
  background: linear-gradient(45deg, #bada55, #f02255);
  height: 250px;
  opacity: 0;
}

.picture {
  opacity: 1;
  animation: fadein 2s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.breacker {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(#f5f5e9, #161825);
}

.imgBox {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgBreak {
  width: 220px;
  height: 220px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.imgBreak1 {
  background-image: url("../img/food/brie.png");
}

.imgBreak2 {
  background-image: url("../img/food/burger.png");
}

.imgBreak3 {
  background-image: url("../img/food/soupSandwich.png");
}

.imgBreak4 {
  background-image: url("../img/food/wbmSalad.png");
}

#menu {
  min-height: 100vh;
  background: #161825;
  color: #e1e5c6;
  padding-top: 75px;
  padding-bottom: 50px;
}

.ourMenu, .allergenTitle {
  text-align: center;
}

.allergenList {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menu {
  padding-bottom: 10px;
}

.breakfast, .starter, .main, .thaiMenu, .soupSandwich, .dessert {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  grid-gap: 10px;
}

.full {
  width: 100%;
  grid-column: 2/4;
  text-align: center;
  padding: 10px;
}

.left, .right {
  padding: 10px;
  border-left: 2px solid #f5f5e9;
}

.left {
  grid-column: 2/3;
}

.right {
  grid-column: 3/4;
}

.menuNumbers, .menuPrice {
  color: #c6a07c;
}

.menuPrice {
  margin-top: 5px;
}

#contact {
  background: #f5f5e9;
}

.contactDivider {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.contactDetails {
  width: 400px;
}

footer {
  height: 50px;
  width: 100%;
  background: #161825;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.dc {
  font-size: 16px;
}
.dc .mailme {
  font-size: 12px;
}

.close::before {
  content: "Close ";
}

.disclamer {
  width: 960px;
  padding: 25px;
  margin: auto;
  text-align: justify;
  display: none;
}

.open {
  display: block;
}

/*# sourceMappingURL=style.css.map */
