#about
    background: $cBG
    height: 1000px

.aboutDivider
    display: flex
    position: relative

// ABOUTHIDDEN
.aboutHidden
    width: 500px
    margin-left: 40px
    position: relative
    margin-top: 150px
    text-align: justify
    opacity: 0
    h2
        position: absolute
        top: -70px
        left: 150px

// ORIGINAL GETS ACTIVATED BY JS

.aboutText
    width: 500px
    margin-left: 40px
    opacity: 0
    position: relative
    margin-top: 150px
    text-align: justify
    animation: aboutFade 2s forwards
    h2
        position: absolute
        top: -70px
        left: 150px

@keyframes aboutFade
    0%
        opacity: 0
    100%
        opacity: 1


.openingPicture
    position: absolute
    left: 600px
    top:-150px
    height: 1100px 
    display: flex
    flex-direction: column
    justify-content: space-between

.opening
    width: 350px
    height: 350px
    padding: 15px
    color: $cWriten
    background: $dBG

.openingHours, .address
    text-transform: uppercase 

.timesBlock
    height: 300px
    display: flex
    flex-direction: column
    justify-content: space-between

.times
    width: 100%
    height: 30px
    display: flex
    justify-content: space-between
    align-items: center

.timesUp
    margin-top: 15px

.linkBox
    width: 100%
    text-align: center

.linkBox:hover
    transform: $scaleLink

.linkMaps
    text-decoration: underline


.picture1
    background-image: linear-gradient(45deg, green, blue)
    height: 250px
    opacity: 0

.picture2
    background: linear-gradient(45deg, #bada55, #f02255)
    height: 250px
    opacity: 0

.picture
    opacity: 1
    animation: fadein 2s forwards

@keyframes fadein 
    from  
        opacity: 0 
    to    
        opacity: 1 