#about
    background: $cBG
    height: 1000px

.aboutDivider
    display: flex
    position: relative


.aboutHidden
    // width: 500px
    margin-left: 40px
    position: relative
    margin-top: 150px
    // text-align: justify
    opacity: 0
    h2
        position: absolute
        top: -70px
        left: 150px

// GETS ACTIVATED BY JS

.aboutText
    width: 500px
    margin-left: 40px
    opacity: 0
    position: relative
    margin-top: 150px
    text-align: justify
    animation: aboutTextAnimation 1.2s forwards 0s ease-in-out
    h2
        position: absolute
        top: -70px
        left: 150px

@keyframes aboutTextAnimation
    0%
        transform: translateX(-100%)
        opacity: 0
        
    100%
        transform: translateX(0)
        opacity: 1        


.openingPicture
    position: absolute
    left: 600px
    top: -150px
    height: 1100px 
    display: flex
    flex-direction: column
    justify-content: space-between


.opening
    height: 350px
    width: 350px
    padding: 15px
    color: $cWriten
    background: $dBG
    display: grid
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr
    grid-template-rows: auto auto
    

.openingHours, .address
    text-transform: uppercase 

.timesTime
    float: right


.timesUp
    margin-top: 15px

.linkBox
    width: 100%
    text-align: center

.linkBox:hover
    transform: $scaleLink

.linkMaps
    text-decoration: underline


.picture1
    background-image: linear-gradient(45deg, green, blue)
    height: 250px
    opacity: 0

.picture2
    background: linear-gradient(45deg, #bada55, #f02255)
    height: 250px
    opacity: 0

// GETS ACTIVATED BY JS

.picture
    opacity: 1
    animation: aboutPictureAnimation 1.2s forwards 0s ease-in-out

@keyframes aboutPictureAnimation
    0%
        transform: translateX(100%)
        opacity: 0
        
    100%
        transform: translateX(0)
        opacity: 1 

.picture3
    opacity: 1
    animation: aboutPictureFromLeftAnimation 1.2s forwards 0s ease-in-out

@keyframes aboutPictureFromLeftAnimation
    0%
        transform: translateX(-100%)
        opacity: 0
        
    100%
        transform: translateX(0)
        opacity: 1 