.aboutDivider
    display: flex


.aboutText
    width: 550px
    margin-left: 40px
    position: relative
    margin-top: 100px
    text-align: justify
    h2
        position: absolute
        top: -70px
        left: 150px
      