.navbar
    padding: 5px 10px
    display: flex
    justify-content: space-between
    width: 100%
    border-bottom: 2px solid $cBG 
    .navLogo
        height: 70px
    .linkList
        width: 50%
        display: flex
        justify-content: space-between
        align-items: center
        .link>a
            text-transform: uppercase
        .link:hover
            transform: scale(1.2)